* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "product_sansbold";
    src: url("../fonts/productsans-bold-webfont.woff2") format("woff2"), url("../fonts/productsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "product_sans_lightregular";
    src: url("../fonts/productsans-light-webfont.woff2") format("woff2"), url("../fonts/productsans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "product_sans_mediumregular";
    src: url("../fonts/productsans-medium-webfont.woff2") format("woff2"), url("../fonts/productsans-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "product_sansregular";
    src: url("../fonts/productsans-regular-webfont.woff2") format("woff2"), url("../fonts/productsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

body {
    font-family: "product_sansregular";
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

.active {
    overflow: hidden;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

header .logo img {
    max-width: 70%;
}

header .option ul {
    display: flex;
}

header .mobile-icon {
    display: none;
}

header .menu-option {
    display: none;
}

header .mobile-icon span {
    font-size: 38px;
}

header .close-icon {
    display: none;
}

header ul li {
    margin-right: 46px;
    opacity: 0.5;
}

header ul li:first-child {
    opacity: 1;
}

header ul li:hover {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    font-size: 22px;
    color: #1f1865;
    font-weight: 600;
}


/* Header section end */

#spotlight {
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.459)), url(../images/spotlight.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#spotlight .content h1 {
    font-size: 46px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 33px;
}

#spotlight .content p {
    width: 40%;
    color: rgb(206, 205, 205);
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.4em;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.owl-nav span {
    font-size: 48px;
    color: #fff;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 30px;
    display: block;
}

.owl-nav .owl-next {
    position: absolute;
    right: 40px;
    display: block;
}

#count {
    margin-top: -90px;
}

#count .wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#count ul li {
    width: 16%;
    padding: 4% 0;
    height: 160px;
    background-color: #ffffffd7;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-right: 30px;
    transition: all 0.2s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#count ul li:hover {
    transform: scale(1.1);
}

#count ul li:last-child {
    margin-right: 0;
}

#count ul li h1 {
    font-size: 40px;
    color: #1f1865;
    font-weight: 600;
    margin-bottom: 20px;
}

#count ul li p {
    font-size: 18px;
    color: #989898;
}

#about {
    padding: 10% 0;
}

#about .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .right {
    width: 60%;
    margin: 0 auto;
    margin-left: 80px;
}

#about .right span {
    font-weight: 600;
    color: #0d9172;
    font-size: 16px;
}

#about .right h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

#about .right P {
    color: #989898;
    font-size: 18px;
    width: 80%;
    line-height: 1.5em;
}

#about .wrapper .left .main {
    width: 85%;
}

#about .wrapper .left {
    position: relative;
}

#about .wrapper .left .mesh {
    width: 33%;
    top: 40%;
    right: -8%;
    position: absolute;
    z-index: -1;
}

#mission {
    padding: 8% 0 8% 0;
    background: #e5e5e5;
}

#mission .wrapper {
    display: flex;
    align-items: center;
}

#mission .wrapper .left {
    width: 60%;
}

#mission .wrapper .right {
    position: relative;
    z-index: 44;
}

#mission .wrapper .right .mesh {
    width: 33%;
    top: 25%;
    left: -18%;
    position: absolute;
    z-index: -1;
}

#mission .wrapper .right .main {
    width: 85%;
}

#mission .left span {
    font-weight: 600;
    color: #0d9172;
    font-size: 16px;
}

#mission .left h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

#mission .left P {
    color: #989898;
    font-size: 18px;
    width: 80%;
    line-height: 1.5em;
}

#vision {
    padding: 8% 0;
}

#vision .wrapper {
    display: flex;
    align-items: center;
}

#vision .wrapper .left .mesh {
    width: 20%;
    z-index: -1;
}

#vision .right {
    width: 60%;
    margin: 0 auto;
    margin-left: 80px;
}

#vision .right span {
    font-weight: 600;
    color: #0d9172;
    font-size: 16px;
}

#vision .right h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

#vision .right P {
    color: #989898;
    font-size: 18px;
    width: 80%;
    line-height: 1.5em;
}

#vision .wrapper .left .main {
    width: 85%;
}

#vision .wrapper .left {
    position: relative;
}

#vision .wrapper .left .mesh {
    width: 33%;
    top: 36%;
    right: -8%;
    position: absolute;
}


/* about section end */

#services {
    padding: 8% 0;
    background: #fafafa;
}

#services .head {
    text-align: center;
}

#services .head h1 {
    font-size: 36px;
    font-weight: 600;
    color: #1b3568;
}

#services .items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
}

#services .items ul li {
    width: 26%;
    background: #ffff;
    padding: 5% 3%;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#services .items ul li img {
    width: 70px;
}

#services .items ul li:nth-child(3n) {
    margin-right: 0;
}

#services .items ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#services .items ul li h3 {
    color: #1b3568;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 600;
    margin: 20px 0;
}

#services .items ul li p {
    color: #989898;
    font-size: 18px;
    line-height: 1.5em;
}


/* service section end */

#testimonial {
    padding: 10% 0n 8% 0;
}

#testimonial .top {
    text-align: center;
}

#testimonial .top h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0;
    color: #1b3568;
}

#testimonial .content {
    margin: 30px auto 100px;
}

#testimonial .item {
    position: relative;
    width: 30%;
    margin: 80px 26px;
    padding: 30px 0;
    background: #ffff;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#testimonial .item:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
}

.slide-arrow {
    position: absolute;
    z-index: 9999;
    top: 50%;
}

.slide-arrow img {
    padding: 10px 14px;
    display: block;
    border-radius: 50%;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.prev-arrow {
    left: -30px;
}

.next-arrow {
    right: -30px;
    z-index: 9999;
}

.next-arrow .next {
    transform: rotate(180deg);
}

#testimonial .item .user {
    position: absolute;
    left: 38%;
    top: -20%;
}

#testimonial .item h4 {
    font-size: 18px;
    font-weight: 600;
    color: #0d9172;
    margin: 20px 0 10px 0;
}

#testimonial .item span {
    color: #989898;
}

#testimonial .item p {
    color: #989898;
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
}

#testimonial .item .quote {
    opacity: 0.2;
    margin: 0 auto;
}


/* testimonial end */

#contact {
    padding: 1% 0;
    background-image: linear-gradient( 90deg, rgba(0, 26, 85, 0.81) 0%, rgba(0, 26, 85, 0.5265) 100%), url(../images/contactsection.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact .wrapper {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-between;
}

#contact .content {
    width: 40%;
}

#contact .content h1 {
    font-size: 40px;
    color: #ffff;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#contact .content p {
    font-size: 18px;
    color: #cecece;
    width: 80%;
    letter-spacing: 1px;
    line-height: 1.5em;
}

#contact .info {
    display: flex;
}

#contact .info li {
    width: 50%;
    display: flex;
    align-items: center;
}

#contact .info li:nth-child(2) {
    padding: 0 0 0 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#contact .info li:last-child {
    padding-left: 20px;
}

#contact .info li a {
    display: flex;
}

#contact .info li span {
    font-size: 18px;
    color: #989898;
    margin-left: 16px;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    line-height: 1.7em;
}

#contact .info li a {
    color: #989898;
    letter-spacing: 1px;
}


/* contact end */

footer {
    padding: 5% 0 20px 0;
    text-align: center;
}

footer .logo {
    margin-bottom: 30px;
}

footer .menu ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

footer .menu ul li {
    margin-right: 50px;
}

footer .menu ul li:last-child {
    margin-right: 0;
}

footer .menu ul li a {
    font-weight: 500;
    color: #8e8d92;
}

footer .menu ul li a:hover {
    color: #505050;
}

footer .social-links ul {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

footer .social-links ul li {
    margin-right: 50px;
}

footer .social-links ul li:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in;
}

footer .social-links ul li:last-child {
    margin-right: 0;
}

footer .reservation {
    border-top: 1px solid #c7c7c7;
    padding: 20px 0 0 0;
}

footer .reservation p {
    color: #8e8d92;
    font-size: 18px;
}

footer .reservation p span a {
    font-size: 18px;
    font-weight: bold;
    color: #1b3568;
}

@media all and (max-width: 980px) {
    header .menu-option {
        display: block;
        position: fixed;
        width: 100%;
        height: 55%;
        left: 0;
        top: -100%;
        right: 0;
        text-align: center;
        padding: 8% 0;
        background: #161d36;
        z-index: 44;
        transition: all 0.4s ease-in;
    }
    .active header .menu-option {
        top: 0;
    }
    .active header .mobile-icon {
        display: none;
    }
    .active header .close-icon {
        z-index: 99;
        display: block;
    }
    .active header .close-icon span {
        font-size: 36px;
        font-weight: 400;
        filter: invert(1);
    }
    header .menu-option li {
        margin-bottom: 60px;
        margin-right: 0;
    }
    header .menu-option li:last-child {
        margin: 0;
    }
    header .menu-option li a {
        color: #fff;
    }
    .active #spotlight {
        filter: blur(4px);
    }
    #spotlight {
        background-position: center;
    }
    header .option {
        display: none;
    }
    header .mobile-icon {
        display: block;
    }
    #spotlight p {
        width: 75%;
    }
    .active #count {
        filter: blur(4px);
    }
    #count ul li {
        width: 20%;
    }
    #about .right {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    #about .right p {
        margin: 0 auto;
    }
    #about .wrapper .left {
        width: 75%;
        margin: 0 auto;
    }
    #about .wrapper .left img {
        width: 0;
    }
    #about .wrapper .left .main {
        margin-bottom: 28px;
    }
    #about .wrapper {
        flex-direction: column;
    }
    #about .wrapper .left .main {
        margin: 0 auto 50px;
        width: 100%;
    }
    #about .wrapper .left .mesh {
        top: 100px;
    }
    #mission {
        padding: 12% 0;
    }
    #mission .wrapper {
        flex-direction: column;
    }
    #mission .wrapper .left {
        text-align: center;
        margin-bottom: 46px;
        width: 90%;
    }
    #mission .wrapper .left p {
        margin: 0 auto;
    }
    #mission .wrapper .right .main {
        width: 100%;
    }
    #mission .wrapper .right {
        width: 75%;
    }
    #vision {
        padding: 10% 0;
    }
    #vision .wrapper {
        flex-direction: column;
    }
    #vision .wrapper .left .main {
        width: 100%;
    }
    #vision .wrapper .left {
        width: 75%;
    }
    #vision .right {
        width: 90%;
        text-align: center;
        margin-top: 30px;
        margin: 30px auto;
    }
    #vision .right p {
        margin: 0 auto;
    }
    #services .items ul li {
        width: 35%;
    }
    #services .items ul li:nth-child(3n) {
        margin-right: 20px;
    }
    #testimonial .item .user {
        left: 30%;
    }
    #contact .wrapper {
        flex-direction: column;
        justify-content: center;
    }
    #contact .content {
        width: 100%;
        text-align: center;
        margin-bottom: 48px;
    }
    #contact .content p {
        margin: 0 auto;
    }
}

@media all and (max-width: 768px) {
    header .menu-option li a {
        font-size: 20px;
    }
    header .menu-option {
        padding: 8% 0 4% 0;
    }
    #spotlight .content h1 {
        font-size: 40px;
    }
    #spotlight .content p {
        width: 80%;
    }
    #count .wrapper ul {
        flex-wrap: wrap;
    }
    #count .wrapper ul li {
        width: 25%;
        margin-bottom: 30px;
    }
    #services .items ul li {
        width: 45%;
    }
    #services .items ul li:nth-child(2n) {
        margin-right: 0;
    }
    #testimonial .item {
        width: 50%;
        margin: 80px 10px;
    }
    #contact .content h1 {
        font-size: 36px;
    }
}

@media all and (max-width: 640px) {
    header .menu-option {
        padding: 14% 0 6% 0;
    }
    .logo img {
        width: 60%;
    }
    #spotlight .content h1 {
        font-size: 28px;
        line-height: 1.5em;
    }
    #spotlight .content p {
        font-size: 16px;
        width: 80%;
    }
    #about .right {
        width: 100%;
    }
    #about .right p {
        width: 100%;
    }
    #mission .wrapper .left {
        width: 100%;
    }
    #mission .wrapper .left p {
        width: 100%;
    }
    #vision .right {
        width: 100%;
    }
    #vision .right p {
        width: 100%;
    }
    #testimonial {
        padding: 18% 0 0 0;
    }
    #contact {
        padding: 24% 0 18% 0;
    }
    #contact .info {
        flex-direction: column;
    }
    #contact .info li {
        width: 100%;
        margin-bottom: 34px;
    }
    #contact .info li:last-child {
        padding-left: 0;
    }
    #contact .info li:nth-child(2) {
        border-left: none;
        border-right: none;
        padding: 20px 0;
        border-top: 1px solid #8e8d92;
        border-bottom: 1px solid #8e8d92;
    }
}

@media all and (max-width: 480px) {
    header .menu-option {
        padding: 18% 0 8% 0;
        height: 350px;
    }
    header .menu-option ul li {
        margin-bottom: 34px;
    }
    header .menu-option ul li a {
        font-size: 16px;
    }
    #spotlight .content p {
        font-size: 16px;
        line-height: 1.7em;
    }
    .owl-nav .owl-next {
        right: 14px;
    }
    .owl-nav .owl-prev {
        left: 14px;
    }
    #count .wrapper ul {
        justify-content: space-evenly;
    }
    #count .wrapper ul li {
        width: 43%;
    }
    #count .wrapper ul li:nth-child(2) {
        margin-right: 0;
    }
    #about {
        padding: 15% 0;
    }
    #mission {
        padding: 15% 0;
    }
    #services {
        padding: 15% 0;
        padding-top: 20px;
    }
    #services .items ul {
        margin-top: 20px;
    }
    #services .items ul li {
        width: 100%;
        margin: 20px 0;
        padding: 10% 10%;
    }
    #services .items ul li:nth-child(3n) {
        margin-right: 0;
    }
    #testimonial {
        padding: 20% 0 0 0;
    }
    #testimonial .content {
        width: 90%;
    }
    .prev-arrow {
        left: -40px;
    }
    .next-arrow {
        right: -40px;
    }
    #testimonial .item .user {
        left: 38%;
    }
    #testimonial .item p {
        font-size: 14px;
    }
    #contact {
        padding: 42% 0 32% 0;
    }
    #contact .content p {
        width: 100%;
    }
    footer {
        padding: 20% 0 20px 0;
    }
    footer .menu ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    footer .menu ul li {
        width: 60%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .reservation {
        padding: 0 20px;
    }
    footer .reservation p {
        font-size: 20px;
        line-height: 1.5em;
    }
}

@media all and (max-width: 360px) {
    #spotlight .content h1 {
        font-size: 32px;
    }
    #spotlight .content p {
        font-size: 14px;
    }
    .owl-nav .owl-next {
        right: 5px;
    }
    .owl-nav .owl-prev {
        left: 5px;
    }
    .logo img {
        width: 60%;
    }
    #spotlight {
        height: calc(100vh - 68px);
    }
    #count .wrapper ul li {
        width: 70%;
        margin-right: 0;
    }
    #about .right h1 {
        font-size: 26px;
    }
    #about .right P {
        font-size: 14px;
    }
    #about {
        padding: 20% 0 20% 0;
    }
    #mission .left h1 {
        font-size: 26px;
    }
    #mission .wrapper .left p {
        font-size: 14px;
    }
    #mission {
        padding: 20% 0;
    }
    #vision {
        padding: 20% 0;
    }
    #services {
        padding: 25% 0;
    }
    #services .head h1 {
        font-size: 32px;
    }
    #contact .content p {
        font-size: 14px;
    }
    #services .items ul {
        margin-top: 28px;
    }
    #testimonial {
        padding: 25% 0 0 0;
    }
    #contact .info li span {
        font-size: 14px;
    }
    #testimonial .item .user {
        left: 34%;
    }
    footer .social-links ul li {
        margin-right: 36px;
    }
}

@media all and (max-width: 320px) {
    .items img {
        width: 60px;
    }
    #testimonial .top h1 {
        font-size: 30px;
    }
    #testimonial .item .user {
        left: 30%;
    }
    #testimonial {
        padding-bottom: 0;
    }
    #contact .content h1 {
        font-size: 32px;
    }
}